@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-charcoal-cy);
  --font-mono: var(--font-charcoal-cy);
  --font-family-charcoal-cy: var(--font-charcoal-cy);
  --font-family-geneva: var(--font-geneva);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-charcoal-cy), Arial, Helvetica, sans-serif;
}
